# Remove compiled files and executables
target/

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
Cargo.lock

# Remove OSX junk files
**/.DS_Store

# IDE config files
.vscode
rls.toml
/.idea/

# Rustfmt backups
**/*.rs.bk
